{% extends 'flatpages/default.html' %}
{% load custom_filters %}!
<!-- Подключаем новый файл с нашим тегом -->

{% load custom_tags %}

{% block content %}
    <br>

    <form action="{% url 'news_search' %}" class="navbar-form navbar-left" method="get">

        <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="Введите запрос">
                    </div>

        <button type="submit" class="btn btn-default">Поиск</button>
            </form>
    <h1>Результат поиска</h1>
    {% for art in articlesearch %}
        <article>
            <a href="{{ art.get_absolute_url }}">
{#                <h6>{{ art_views.time|date:'d.m.Y H:i' }}</h6>#}
                <h2>{{ art.article_title }}</h2>
{#                <p>Автор: {{ art_views.author.full_name }}</p>#}
                <hr>
            </a>
            {{ art.article|safe }}
            <form action={{ art.get_absolute_url }}>
                <input type="submit" value="Читать далее">
            </form>
            {#          <p><a class="btn btn-default btn-sm" href="{{ art.get_absolute_url }}">Читать далее</a></p>#}
        </article>
    {% empty %}
        <p>Не найдено публикаций по вашему запросу<br>Попробуйте повторить запрос с другой формулировкой</p>
    {% endfor %}

{% endblock %}